.popup__container {
    background-color: white;
    width: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 897px) {
    .popup__container {
        width: 282px;
    }
}