.popup__input {
    font-size: 14px;
    line-height: 16.94px;
    width: 354px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    margin-top: 30px;
}

.popup__input:first-of-type {
    margin-top: 0px;
}

@media screen and (max-width: 897px) {
    .popup__input {
        width: 234px;
    }
}